[Unit]
Description=Cuckoo REST API
After=network.target

[Service]
ExecStart=/opt/cuckoo/bin/cuckoo api
Restart=on-failure
User=peekaboo
Group=peekaboo
WorkingDirectory=/var/lib/peekaboo

[Install]
WantedBy=multi-user.target
