# install as /etc/systemd/system/cuckoohttpd.service

[Unit]
Description=Cuckoo Webserver
After=network.target

[Service]
User=peekaboo
Group=peekaboo
WorkingDirectory=/var/lib/peekaboo
ExecStart=/usr/local/bin/cuckoo web -H 0.0.0.0 -p 8000
KillMode=control-group
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
Alias=cuckoo-http.service


