[Unit]
Description=Cuckoo REST API
After=network.target mysql.service
Requires=mysql.service

[Service]
ExecStart=/opt/cuckoo/bin/cuckoo api
Restart=on-failure
User=cuckoo
WorkingDirectory=/var/lib/cuckoo

[Install]
WantedBy=multi-user.target
