[Unit]
Description=Cuckoo REST API
After=network.target

[Service]
ExecStart=/opt/cuckoo/bin/cuckoo api
Restart=on-failure
User=cuckoo
Group=cuckoo
WorkingDirectory=/var/lib/cuckoo

[Install]
WantedBy=multi-user.target
