[Unit]
Description=Cuckoo Web Service
After=network.target mysql.service
Requires=mysql.service

[Service]
ExecStart=/opt/cuckoo/bin/cuckoo web
Restart=on-failure
User=cuckoo
Group=cuckoo
WorkingDirectory=/var/lib/cuckoo

[Install]
WantedBy=multi-user.target
