[Unit]
Description=Cuckoo Sandbox Service
After=network.target cuckoo-rooter.service

[Service]
ExecStart=/opt/cuckoo/bin/cuckoo
Restart=on-failure
User=cuckoo
Group=cuckoo
WorkingDirectory=/var/lib/cuckoo

[Install]
WantedBy=multi-user.target
