[Unit]
Description=Cuckoo Sandbox Processing Service %i
After=network.target cuckoo.service

[Service]
ExecStart=/opt/cuckoo/bin/cuckoo process instance%i
Restart=on-failure
User=peekaboo
Group=peekaboo
WorkingDirectory=/var/lib/peekaboo

[Install]
WantedBy=multi-user.target
