[Unit]
Description=Cuckoo Sandbox Service
After=network.target cuckoo-rooter.service mysql.service
Requires=mysql.service

[Service]
ExecStart=/opt/cuckoo/bin/cuckoo
Restart=on-failure
User=cuckoo
WorkingDirectory=/var/lib/cuckoo
LimitNOFILE=32768

[Install]
WantedBy=multi-user.target
