[Unit]
Description=Cuckoo Rooter Service
After=network.target

[Service]
ExecStart=/opt/cuckoo/bin/cuckoo rooter -g cuckoo
Restart=on-failure
WorkingDirectory=/var/lib/cuckoo

[Install]
WantedBy=multi-user.target
