[Unit]
Description=Cuckoo Sandbox Processing Service %i
After=network.target cuckoo.service mysql.service
Requires=mysql.service

[Service]
ExecStart=/opt/cuckoo/bin/cuckoo process instance%i
Restart=on-failure
User=cuckoo
WorkingDirectory=/var/lib/cuckoo

[Install]
WantedBy=multi-user.target
